*{
    margin: 0;
    padding: 0;
}






#Navbar {
  background-color: rgb(180, 180, 236);
  display: flex;
  justify-content: space-between;
  color: rgb(8, 0, 255);
  padding: 8px;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 99;
}

.NavLinks {
  display: flex;
  gap: 20px;
align-items: center;
  span,
  p,
  button {
    cursor: pointer;
  }

  button{
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: blue;
    color: white;
  }
}
div{
    border: 1px solid #000;
}
#divouterdiv{
    display: flex;
}
leftdiv{
    height: fit-content;
    width: 70%;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}
#rightpart{
    background-color: aqua;
    height: 85hv;
    padding: 20px;
    width: 30%;

    ol{
        padding: 0 30px;
    }
}
@media screen and (max-width: 1024px){
    #leftpart{
        grid-template-columns: auto auto auto;
    }
    #rightpart{
        background-color: bisque;
    }
}

@media screen and (max-width: 760px){
    #leftpart{
        grid-template-columns: auto auto ;
    }
    #rightpart{
        background-color: rgb(37, 11, 165);
    }
}

@media screen and (max-width: 420px){
    #leftpart{
        grid-template-columns: auto ;
    }
    #rightpart{
        background-color: rgb(113, 8, 31);
    }
}

